{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="welcome full-width">
  
</div>

{% stylesheet %}
 
{% endstylesheet %}

{% schema %}
{
  "name": "Home",
  "settings": [],
  "presets": []
}
{% endschema %}
